@import './components/general.scss';
@import './components/btn-sleep.scss';

.grid-title {
	position: relative;
	display: flex;
	justify-content: center;

	h2 {
		text-align: center;
	}
	img {
		left: 0;
		position: absolute;
	}
}
//targeta principal grande
.card-image {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	& > img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		border-radius: 5vw;
	}
	.btn-sleep {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
	}
	&:nth-child(odd) {
		background: #013159;
		box-shadow: inset 0px 10.3807px 10.3807px #0369be;
		border-radius: 5vw;
	}
	&:nth-child(even) {
		background: linear-gradient(137.09deg, #b4dafe 2.97%, #164c7e 96.62%);
		box-shadow: inset 0px 10.3807px 10.3807px #cae6ff;
		border-radius: 5vw;
	}
}

.row-title-div {
	display: flex;
	justify-content: space-between;
}
.row-title-div_lessons {
	font-family: var(--font-poppins);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;

	color: #000000;
	@include phone() {
		font-size: 14px;
		line-height: 21px;
	}
	@include tablet() {
		font-size: 27.2821px;
		line-height: 41px;
	}
	@include desktop() {
		font-size: 36.3323px;
		line-height: 54px;
	}
}

.row-title-div_playall {
	font-family: var(--font-poppins);
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	color: #000000;
	@include phone() {
		font-size: 14px;
		line-height: 21px;
	}
	@include tablet() {
		font-size: 27.2821px;
		line-height: 41px;
	}
	@include desktop() {
		font-size: 36.3323px;
		line-height: 54px;
	}
}

// TARJETAS
.cards-lesson {
	display: grid;
	gap: 0.5rem;
	grid-template-columns: repeat(2, 50%);
	grid-auto-rows: 41.5vw;
	@include tablet() {
		gap: 1rem;
		grid-template-columns: repeat(3, calc(100% / 3));
		grid-auto-rows: 31.5vw;
	}
	@include desktop() {
		padding-right: 5rem;
	}
}
.card-image-lesson {
	position: relative;
}
.card-image-lesson-container {
	width: max-content;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-items: center;
	gap: 1rem;
	padding: 3rem 2rem;
}
.card-image-lesson_info {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
}
.card-text {
	font-family: var(--font-poppins);
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
	@include phone() {
		font-size: 14px;
		line-height: 21px;
	}
	@include tablet() {
		font-size: 27.2821px;
		line-height: 41px;
	}
	@include desktop() {
		font-size: 36.3323px;
		line-height: 54px;
	}
}
.card-img {
	
	width: 20px;
	height: 20px;
	@include phone() {
		width: 24px;
		height: 24px;
	}
	@include tablet() {
		width: 46.77px;
		height: 46.77px;
	}
	@include desktop() {
		width: 62.28px;
		height: 62.28px;
	}
}
.card-image-icon {
	margin: auto;
	height: 87px;
	width: 75px;
	@include phone() {
		height: 105px;
		width: 94px;
	}
	@include tablet() {
	}
	@include desktop() {
		height: 200px;
		width: 200px;
	}
	img {
		width: 100%;
		height: 100%;
	}
}
// @include phone() {
// }
// @include tablet() {

// }
// @include desktop() {

// }