@import './mixins';
//boton sleep
.btn-sleep {
	z-index: 10;
	width: 186px;
	height: 69px;
	display: flex;
	justify-content: space-between;
	padding: 0% 5% 0% 5%;
	cursor: pointer;
	align-content: center;
	align-items: center;
	margin: auto;
	border: 1px solid hsl(0deg 0% 0%);

	background: linear-gradient(
		90deg,
		rgba(196, 196, 196, 0.63) 0%,
		rgba(196, 196, 196, 0) 96.31%
	);
	backdrop-filter: blur(15.5897px);
	/* Note: backdrop-filter has minimal browser support */

	border-radius: 5vw;
	@include phone() {
		width: 186px;
		height: 69px;
	}
	@include tablet() {
		width: 362.46px;
		height: 134.46px;
	}
	@include desktop() {
		width: 696.2px;
		height: 258.27px;
	}
}
.btn-sleep_info {
	display: flex;
	flex-direction: column;
	p {
		margin: 0;
	}
}
.btn-sleep_text {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	color: var(--white-color);
	@include phone() {
		line-height: 27px;
		font-size: 18px;
	}
	@include tablet() {
		font-size: 35.0769px;
		line-height: 53px;
	}
	@include desktop() {
		font-size: 67.3743px;
		line-height: 101px;
	}
}
.btn-sleep_min {
	font-family: 'Poppins';
	font-style: normal;
	color: var(--white-color);
	font-weight: 500;
	@include phone() {
		font-size: 14px;
		line-height: 21px;
	}
	@include tablet() {
		font-size: 27.2821px;
		line-height: 41px;
	}
	@include desktop() {
		font-size: 52.4022px;
		line-height: 79px;
	}
}

.btn-sleep_img {
	object-fit: cover;
	object-position: center;
	width: 24px;
	height: 24px;
	@include phone() {
		width: 24px;
		height: 24px;
	}
	@include tablet() {
		width: 32px;
		height: 32px;
	}
	@include desktop() {
		width: 89.83px;
		height: 89.83px;
	}
}

//boton pausado

.position-clock-circle{
	
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 100%;
	height: 100%;
	z-index: 1;
	
}
.position-clock-img{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 100%;
	height: 100%;
	
}
.position-clock-text{
	margin-top: 0;
	display: flex;

	justify-content: center;
	margin-top: 12vw;
	@include phone() {
		
	}
	@include tablet() {
	}
	@include desktop() {
	 }

}
