@import 'values';
@import 'mixins';
//COMPONENTES SEPARADOS
.container-1 {
	padding: 1rem;
	@include tablet(){
		padding: 1rem 2rem;
	}
	@include desktop(){
		padding: 1rem 3rem;
	}
}
.size-icon {
	width: 24px;
	height: 24px;
}
.size-1-icon {
	width: 107px;
    height: 68px;
}
//texto
.title-text {
	@include title-text;
}
.title-1-text {
	@include title-1-text;
}
.title-2-text {
	@include title-2-text;
}
.title-1-light-text {
	@include title-1-text;
	font-weight: 300;
}
.play-text {
	@include play-text;
}
.row-text {
	@include row-text;
}
.card-title-text {
	@include card-title-text;
}
.card-min-text {
	@include card-min-text;
}
.pagraph-yoga-text {
	@include pagraph-yoga-text;
}

//fondo
.card.gb-blue,.gb-blue{
	background-color: $background-azul;
	
}
.gb-pinking{
	background-image: linear-gradient(125.95deg, #FFCAB3 5.32%, #71361C 92.27%);
}
.gb-pinking{
	background-image: linear-gradient(125.95deg, #FFCAB3 5.32%, #71361C 92.27%);
}
.hover {
	cursor: pointer;
	opacity: 0.8;
	&:hover {
		opacity: 1;
	}
}
